.home-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto; 
    padding: 200px;
    margin-top: -50px;
}

.homepage-pic{
    height: 150px;
    border-radius: 5%;
    object-fit: cover;
}

.home-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px; 
    height: 250px;
    background-color: rgb(81, 199, 199);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.home-button:hover {
    background-color: rgb(134, 219, 219);
}

.home-text {
    color: black;
    padding-top: 20px;
    font-size: 20px;
}

.show-more-button {
    background-color: rgb(81, 199, 199);
    color: black;
    position: relative;
    top:-150px;
}

.show-more-button:hover {
    background-color: rgb(134, 219, 219);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.message {
    position: relative;
    z-index: 1;
    font-size: 18px;
    width: 500px;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: black;
    background-color: rgb(134, 219, 219);
    overflow: hidden;
}

.message::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 5px;
    border-radius: 10px;
    background: conic-gradient(from var(--angle), red, blue, red);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
            mask-composite: exclude;
    animation: spin 1s linear infinite;
    z-index: -1;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}


.message-wrapper {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: -130px;
    margin-bottom: 100px;
    flex-direction: column;
}

.loading {
    font-weight: bold;
    display: inline-block;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation: l 1s steps(4, jump-none) infinite;
    background-color: rgb(81, 199, 199);
    margin-top: 10px;
    color: black;
  }
  
  @keyframes l {
    to {
      clip-path: inset(0)
    }
  }
