#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'MyFont';
  background-image: url("/wallpaper.png");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat; 
  background-attachment: fixed;
  min-height: 100vh; 
}


@font-face {
  font-family: 'MyFont';
  src: url('/fonts/BoosterNextFY-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.logo-img{
  height: 300px;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 30%;
}

.logo-img:active{
  transform: translate(-50%, -50%) scale(0.9)
}

.logo-container {
  background: linear-gradient(to right, rgb(255, 221, 0), rgb(3, 149, 5));
  height: 50px;
  margin-top: 140px;
  position: relative;
  border-radius: 30px;
}
